header {
	display: flex;
    position: sticky;
    z-index: 10;
    top: 0px;
    padding: 10px;
/*    border: 2px solid black;*/
    
	align-items: center;
	justify-content: space-between;
    background-color: yellow;
}

nav a span {
    padding: 8px;
    border: 2px solid black;
    background-color: aqua;
}

#main {
	display: grid;
    padding: 0.5%;
    border: 2px solid black;
	grid-template-columns: 70% auto;
	grid-template-rows: auto auto;
}

#banner-background {
	grid-column-start: 1;
	grid-column-end: span 2;
}

#banner-foreground {
    border: 0;
	text-align: center;
    height: 100%;
	background-color: rgba(0, 255, 255, .5);
}

#content {
    background-color: rgba(255, 0, 0, .5);
}

.grid-item {
    position: relative;
	padding: 1%;
    margin: 4px;
    border: 2px solid black;
}

aside {
	text-align: center;
    background-color: rgba(0, 255, 0, .5);
}

footer {
    position: sticky;
    bottom: 0px;
    z-index: 10;
    padding: 0.5%;
    text-align: center;
    background-color: yellow
}

#content h2 {
    text-align: center;
}