header {
	display: flex;
    position: sticky;
    z-index: 10;
    top: 0px;
    padding: 10px;
    height: 10%;
    width: 98%; /* This is broken, should leave as auto but assignment requires. */
    
	align-items: center;
	justify-content: space-between;
    background-image: url("../images/back.jpg");
}

img[src="images/logo.png"] {
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-play-state: paused;
}

img[src="images/logo.png"]:hover {
    animation-play-state: running;
}

@keyframes spin {
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

nav a span {
    padding: 8px;
    border: 2px solid black;
    background-color: rgba(255,255,255,.9)
}

nav a span:hover {
    background-color: rgb(220, 20, 60);
}

#scrollable {
	display: grid;
	padding: 0.5%;
	border: 2px solid black;
	grid-template-columns: 70% auto;
	grid-template-rows: auto auto;
}

#banner-background {
	grid-column-start: 1;
	grid-column-end: span 2;
	background-image: url("../images/back.jpg")
    border: none;
}

#banner-foreground {
	border: 0;
	text-align: center;
	height: 100%;
}

#content {
	background-color: rgba(255, 0, 0, .5);
}

.grid-item {
	position: relative;
	padding: 1%;
	margin: 4px;
	border: 2px solid black;
}

aside {
	text-align: center;
	background-color: rgba(255, 0, 0, .5);
}

#content h2 {
	text-align: center;
}

a:hover{
    /* This is a test pseudo class*/
}
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    padding: 0.5%;
    height: 3%;
    width: 98%; /* This is broken, should be left as auto but assignment requires this*/
    text-align: center;
    background-color: crimson 
}