.image-list img {
    display: inline;
    width: auto;
    height: 200px;
    padding: 10px;
}

#price-list {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.stripped tr:nth-child(2) {
    background-color: red;
}